<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
  <title>CartHend</title>
</head>
<body>
  <div class="container mx-auto p-4">
    <header class="flex items-center justify-between border-b-2 border-gray-100 mb-12">
      <img src="/assets/header.png" />
      <ul class="flex item-center">
        <li class="hover:bg-gray-100 transition-colors rounded">
          <a href="/signin" class="p-4 text-sky-800 text-lg">
            signin
          </a>
        </li>
        <li>
          <div class="h-full w-[2px] bg-sky-800 mx-2"></div>
        </li>
        <li class="hover:bg-gray-100 transition-colors rounded">
          <a href="/signup" class="p-4 text-sky-800 text-lg">
            signup
          </a>
        </li>
      </ul>
    </header>

    <div class="lg:grid lg:grid-cols-3 lg:gap-y-3 mt-10 sm:flex sm:flex-col md:grid md:grid-cols-2">

      <% cars.forEach(car => { %>
        <div class="flex items-center justify-center">
          <div class="w-72 h-96 drop-shadow-lg rounded border bg-white mt-10">
            <img class="w-full h-48 overflow-hidden" src=<%= car.foto%> />
    
            <div class="p-2">
              
              <div class="flex items-center justify-between">
                <div class="flex flex-col items-start mt-2">
                  <span class="text-gray-400">Nome</span>
                  <span class="text-sky-800"><%= car.nome%></span>
                </div>
    
                <div class="flex flex-col items-end mt-2">
                  <span class="text-gray-400">Marca</span>
                  <span class="text-sky-800"><%= car.marca%></span>
                </div>
              </div>
    
            <div class="flex items-center justify-between">
              <div class="flex flex-col items-start mt-2">
                <span class="text-gray-400">Preco da diária</span>
                <span class="text-sky-800">R$ <%= car.preco_diaria%>,00</span>
              </div>
    
              <div class="flex flex-col items-end mt-2">
                <span class="text-gray-400">Valor</span>
                <span class="text-sky-800">R$ <%= car.valor%>,00</span>
              </div>
            </div>
    
            <div class="flex items-center justify-between">
              <div class="flex flex-col items-start mt-2">
                <span class="text-green-500">Disponível hoje</span>
              </div>
    
              <div class="flex items-center mt-2">
                <span class="text-gray-400 mr-2">Cor</span>
                <div class="w-4 h-4 rounded-full" style="background-color: <%= car.cor%>;"></div>
              </div>
            </div>
          </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>