<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
  <title>CartHend</title>
</head>
<body>
  <div class="container mx-auto max-w-3xl">
    <div class="flex flex-col mt-[60px]">
      <h1 class="text-orange-600 text-7xl text-center">Informações do aluguel</h1>

      <form class="flex flex-col mt-10" action="/loja/alugar" method="POST">
        
        <label class="text-sky-800 mb-1">Nome</label>
        <input id="nome" required autofocus type="text" value=<%= car.nome%> name="nome" class="w-full border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" />
        
        <input type="hidden" name="id_car" value=<%= car._id%> />
        
        <label class="text-sky-800 mb-1">Marca</label>
        <input id="email" required type="text" value=<%= car.marca%> name="marca" class="w-full border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" />

        <div class="grid grid-cols-3 gap-3">
          <div>
            <label class="text-sky-800 mb-1">Preço da diária</label>
            <input required type="text" name="preco_diaria" value=<%= car.preco_diaria%> class="w-full border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" />
            <input id="preco_diaria" type="hidden" value=<%= JSON.stringify(car.preco_diaria)%> />
          </div>
          
          <div>
            <label class="text-sky-800 mb-1">Valor</label>
            <input required type="text" value=<%= car.valor%> name="valor" class="w-full border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" />
          </div>
          
          <div class="flex flex-col justify-center mt-[-7px]">
            <div class="flex items-center mt-2">
              <span class="text-gray-400 mr-2">Cor</span>
            <div class="w-10 h-10 rounded-full" style="background-color: <%= car.cor%>;"></div>
          </div>

        </div>
        </div>
        <div class="border-b-2 p-2 w-full"></div>
        
        <label class="text-sky-800 mb-2 mt-4">Reservas programadas</label>
          <div class="flex items-center mb-3">
            <span
              class="relative inline-block px-3 p-2 font-semibold leading-tight text-sky-900"
            >
              <span
                aria-hidden
                class="absolute inset-0 opacity-50 rounded bg-sky-800"
              ></span>
              <span class="relative">Próxima reserva - 27/09</span>
            </span>
          </div>

          <div class="grid grid-cols-3 gap-3 mt-4">
            <div>
              <label class="text-sky-800 mb-1">Início do aluguel</label>
              <input id="inicio_aluguel" required type="date" name="inicio_aluguel" placeholder="Date de início do aluguel" class="w-full border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" />
            </div>

            <div>
              <label class="text-sky-800 mb-1">Fim do aluguel</label>
              <input id="fim_aluguel" onblur="calcValorFinal()" required type="date" name="fim_aluguel" placeholder="Date de início do aluguel" class="w-full border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" />
            </div>

            <div>
              <label class="text-sky-800 mb-1">Valor final</label>
              <input id="valor_final" required type="text" name="valor_final" placeholder="Valor final" disabled class="w-full border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" />
            </div>
          </div>

          <div class="grid grid-cols-3 gap-3 mt-[30px] mb-10">
            <div id="Pix" onclick="setarTipoPagamento('Pix')" class="transition-all w-60 h-60 bg-white shadow-sm border border-gray-200 flex items-center justify-center flex-col rounded-md cursor-pointer hover:scale-90">
              <span class="text-sky-800 mb-6 text-xl select-none ">PIX</span>
              <img src="/assets/pix.png" class="select-none " />
            </div>

            <div id="Cartão" onclick="setarTipoPagamento('Cartão')" class="transition-all w-60 h-60 bg-white shadow-sm border border-gray-200 flex items-center justify-center flex-col rounded-md cursor-pointer hover:scale-90">
              <span class="text-sky-800 mb-6 text-xl select-none ">Cartão</span>
              <img src="/assets/cartao.png" class="select-none" />
            </div>

            <div id="Boleto" onclick="setarTipoPagamento('Boleto')" class="transition-all w-60 h-60 bg-white shadow-sm border border-gray-200 flex items-center justify-center flex-col rounded-md cursor-pointer hover:scale-90">
              <span class="text-sky-800 mb-6 text-xl select-none ">Boleto</span>
              <img src="/assets/boleto.png" class="select-none " />
            </div>
          </div>

          <div class="flex items-center justify-end w-full p-4">
            <a href="/" class="mr-3 bg-white p-2 rounded hover:bg-orange-600 hover:text-white text-orange-600 transition-colors focus:ring-2 focus:ring-orange-500 border border-orange-400">
              Cancelar
            </a>

            <button id="button-submit" type="submit" class="bg-orange-600 p-2 rounded hover:bg-orange-700 text-white transition-colors focus:ring-2 focus:ring-orange-500 border focus:border-orange-400">
              Alugar
            </button>
          </div>
      </form>
    </div>
  </div>
  <script>
    const button = document.querySelector('#button-submit');
    const inicioAluguel = document.querySelector('#inicio_aluguel');
    const fimAluguel = document.querySelector('#fim_aluguel');
    const valorFinal = document.querySelector('#valor_final');
    const precoDiaria = document.querySelector('#preco_diaria');

    const Pix = document.querySelector('#Pix');
    const Cartão = document.querySelector('#Cartão');
    const Boleto = document.querySelector('#Boleto');

    let currentTipoPagamento = "";

    const tipoPagamentoStyle = {
      Cartão,
      Pix,
      Boleto,
    }

    let precoDiariaToObject = JSON.parse(precoDiaria.value);

    button.addEventListener('click', (e) => {
      if (!currentTipoPagamento) {
        e.preventDefault();
        alert('Escolha o método de pagamento');
        return;
      }

    });

    function setarTipoPagamento(tipoPagamento) {
      if (currentTipoPagamento === tipoPagamento) {
        Object.keys(tipoPagamentoStyle).forEach(item => {
          if (item !== currentTipoPagamento) {
            tipoPagamentoStyle[item].classList.remove("pointer-events-none")
            return;
          }
        })
        
        currentTipoPagamento = "";
        tipoPagamentoStyle[tipoPagamento].className = "transition-all w-60 h-60 bg-white shadow-sm border border-gray-200 flex items-center justify-center flex-col rounded-md cursor-pointer hover:scale-90"
      } else {
        tipoPagamentoStyle[tipoPagamento].className = "transition-all w-60 h-60 bg-white shadow-sm border border-sky-800 flex items-center justify-center flex-col rounded-md cursor-pointer hover:scale-90"
        currentTipoPagamento = tipoPagamento;

        Object.keys(tipoPagamentoStyle).forEach(item => {
          if (item !== currentTipoPagamento) {
            tipoPagamentoStyle[item].className = "transition-all w-60 h-60 bg-white shadow-sm border border-gray-200 flex items-center justify-center flex-col rounded-md cursor-pointer hover:scale-90 pointer-events-none"
            return;
          }
        })
      }

      console.log(currentTipoPagamento);
    }

    function calcValorFinal() {
      let day1 = new Date(inicioAluguel.value); 
      let day2 = new Date(fimAluguel.value);

      let difference = Math.abs(day2 - day1);
      days = difference / (1000 * 3600 * 24);

      valorFinal.value = `R$ ${days * precoDiariaToObject},00`;
      console.log(precoDiariaToObject);
    }

  </script>
</body>
</html>