<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
  <title>CartHend</title>
</head>
<body>
  <header class="flex items-center justify-between border-b-2 border-gray-100 mb-12 px-4 py-2">
    <a href="/loja">
      <img src="/assets/header.png" />
    </a>

    <ul class="flex item-center justify-center">
      <li class="hover:bg-gray-100 transition-colors rounded flex items-center">
        <a href="/loja/aluguel" class="p-4 text-sky-800 text-lg">
          Meus alugueis
        </a>
      </li>
      <li class="flex items-center">
        <div class="h-8 w-[2px] bg-sky-800 mx-2"></div>
      </li>
      <li class="hover:bg-gray-100 transition-colors rounded flex items-center">
        <a href="/loja/conta" class="p-4 text-sky-800 text-lg">
          Minha conta
        </a>
      </li>

      <li class="ml-8 flex items-center">
        <div class="flex items-center">
          <img src=<%=avatar %> class="rounded-full w-10 h-10 mr-3" />
          <span class="text-sky-800 text-lg">
            <%= nome%>
          </span>
        </div>
      </li>
    </ul>
  </header>
  <div class="container mx-auto p-4">

    <div class="lg:grid lg:grid-cols-3 lg:gap-y-3 mt-10 sm:flex sm:flex-col md:grid md:grid-cols-2">

      <% cars.forEach(car => { %>
        <div class="flex items-center justify-center">
          <div class="w-72 h-100 drop-shadow-lg rounded border bg-white mt-10">
            <img class="w-full h-48 overflow-hidden" src=<%= car.foto%> />
    
            <div class="p-2">
              
              <div class="flex items-center justify-between">
                <div class="flex flex-col items-start mt-2">
                  <span class="text-gray-400">Nome</span>
                  <span class="text-sky-800"><%= car.nome%></span>
                </div>
    
                <div class="flex flex-col items-end mt-2">
                  <span class="text-gray-400">Marca</span>
                  <span class="text-sky-800"><%= car.marca%></span>
                </div>
              </div>
    
            <div class="flex items-center justify-between">
              <div class="flex flex-col items-start mt-2">
                <span class="text-gray-400">Preco da diária</span>
                <span class="text-sky-800">R$ <%= car.preco_diaria%>,00</span>
              </div>
    
              <div class="flex flex-col items-end mt-2">
                <span class="text-gray-400">Valor</span>
                <span class="text-sky-800">R$ <%= car.valor%>,00</span>
              </div>
            </div>
    
            <div class="flex items-center justify-between">
              <div class="flex flex-col items-start mt-2">
                <span class="text-green-500">Disponível hoje</span>
              </div>
    
              <div class="flex items-center mt-2">
                <span class="text-gray-400 mr-2">Cor</span>
                <div class="w-4 h-4 rounded-full" style="background-color: <%= car.cor%>;"></div>
              </div>
            </div>
            <div class="flex items-center mt-[2px]">
              <a href="/loja/alugar/<%= car._id%>" class="bg-sky-800 py-2 px-4 rounded hover:bg-sky-900 text-white transition-colors focus:ring-2 focus:ring-sky-500 border focus:border-sky-400">Alugar agora</a>
            </div>
          </div>
          </div>
        </div>
      <% }) %>

    </div>
  </div>
</body>
</html>